* {
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: #4d7fff #ddd;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background: rgb(93, 92, 92);
    border-radius: 5px;
}

body::-webkit-scrollbar-button {
    display: none;
}

.icon {
    margin-right: 20px;
    font-size: 35px;
    transition: font-size 0.3s ease;
}

.icon:hover {
    font-size: 40px;
}
