.contact-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, #f5f5f5, #e0e0e0);
}

.contact-container > * {
    margin-left: 40px;
}

.contact {
    color: blue;
    font-size: 25px;
    font-weight: bold;
}

.contact-title {
    font-weight: bold;
    height: 20vh;
}

.contact-additional {
    display: flex;
    align-items: center;
    justify-content: space-around;

    transition: all 0.6s ease-in-out;
}

.contact-additional > * {
    margin-left: 40px;
}

.link {
    text-decoration: none;
    color: black;
}

@media (max-width: 1000px) {
    * {
        font-size: 15px;
    }
    .contact {
        font-size: 20px;
    }
    .contact-title {
        height: 15vh;
        font-size: 25px;
    }
}


@media (max-width: 600px) {
    .contact-additional {
        display: block;
        margin: 0;
    }

    .contact-title {
        height: 1vh;
        font-size: 20px;
    }
}