.footer-container {
    height: 150px;
    background-color: #333333;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    bottom: 0;
    z-index: 999;
    flex-wrap: wrap;
}