.nav-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 5px gray;

    top: 0;
    z-index: 999;
    position: sticky;

    background-color: white;
}

.nav-show {
    content: attr(data-text);

    width: 60%;
    padding: 30px 0;
    margin-left: 5%;

    font-size: 2rem;
    -webkit-animation: presentationMove 4s ease-in-out infinite;
    animation: presentationMove 4s ease-in-out infinite;
}

.nav-list {
    width: 40%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    list-style: none;
    cursor: pointer;
}

.nav-list > * {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;

    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.nav-list > *:hover {
    border: 1px solid gray;
    padding: 10px 20px;
}

@keyframes presentationMove {
    0% {
        transform: scale(1) translate(0, 0) rotate(0) skew(0);
    }
    50% {
        transform: scale(1.05) translate(30px, -80px) rotate(-0.25deg) skew(10deg, -10deg);
    }
    100% {
        transform: scale(1) translate(0, 0) rotate(0) skew(0);
    }
}
