.slider-child {
    overflow: hidden;
    height: 100vh;
}

.project-container {
    width: 100vw;
}

button.slick-arrow:before {
    color: green;
}

.project-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-links {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}

.project-info {
    max-width: 50%;
}

.project-btn {
    padding: 5px 15px;
    border: none;
    background: transparent;
    border-radius: 10px;
    font-size: 27px;
    transition: all 0.25s ease-in-out;
}

.project-btn:hover {
    padding: 10px 25px;
    border: 1px solid gray;
}

.project-intro {
    font-size: 1.5rem;
    font-weight: bold;
    color: blue;
    transition: all 0.5s ease-in-out;
}

.project-info > * {
    transition: all 0.5s ease-in-out;
}

.project-title {
    height: 5vh;
}

.project-description {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.project-background {
    max-width: 30%;
}

.project-img {
    height: auto;
    width: 100%;
    object-fit: scale-down;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 1170px) {

    .project-item {
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
    }

    .project-item > * {
        min-width: 50%;
        margin-top: 50px;
    }

    .project-img {
        height: 300px;
        transition: all 0.5s ease-in-out;
    }
}

@media (max-width: 950px) {

    .project-intro {
        font-size: 1rem;
    }

    .project-title {
        font-size: 1.4rem;
        height: 3vh;
    }

    .project-description {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .project-img {
        height: auto;
        width: 100%;
    }

    .project-btn {
        font-size: 20px;
    }

    .project-btn:hover {
        padding: 5px 5px;
        border: 1px solid gray;
    }

}

@media (max-width: 480px) {

    .project-intro {
        font-size: 1rem;
    }

    .project-title {
        font-size: 1rem;
    }

    .project-description {
        width: 100%;
        font-size: 0.8rem;
    }

    .project-btn {
        font-size: 17px;
    }
}

@media (max-width: 350px) {

    .project-img {
        height: auto;
        width: 100%;
    }

    .project-item {
        justify-content: none;
    }

    /* .project-info {
        
    }
    
    .project-background {
        
    } */
}
