.skills-container {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-title {
    font-size: 1.5rem;
}

.skills-list {
    list-style: none;
}

@media (max-width: 900px) {
    .skills-container {
        display: flex;
        flex-direction: column;
    }

    .skills-list {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
